* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(113, 75, 10);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(193, 146, 79);
}

header img {
    width: 8rem;
}

img {
    width: 100%;
}

header nav li {
    display: inline;
}

header input {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}
videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
}

video {
    width: 100%;
}