* {
    margin: 120;
    padding: 20;
}

body{
    background-color: rgb(113, 75, 10);
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgb(193, 146, 79);
}

img {
    width: 10%;
}
header nav li {
    display: inline;
}

header input {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}

* {
    margin: 20;
    box-sizing: border-box;
    padding: 20;
}