body {
    background-color: rgb(211, 185, 236);
}

#flexbox {
    display: flex;
    padding: 4% 0;
}

.left {
    /* width: 70%; */
    flex: 7;
}

header, main, footer {
    background-color: bisque;
    border: 2px solid rgb(81, 110, 2);
}