body {
    background-color: rgb(211, 185, 236);
}

#about {
    display: flex;
    padding: 5%;
}
body {
    padding: 10%;
}
    footer{
        display: flex;
        padding: 5%;
    }


.left {
    /* width: 70%; */
    flex: 7;
}

header, main, footer {
    background-color: rgb(158, 134, 79);
    border: 2px dashed rgb(58, 42, 0);
}
a:hover {
    color: brown;
}

