body {
    background-color: rgb(207, 190, 168);
    color: rgb(102, 88, 54);
    font-family: monospace;
}

img {
    width: 100%;
}

header h1 {
    text-align: center;
}

nav {
    background-color: rgb(155, 145, 41);
}

nav li{
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
}

nav a:hover {
    background-color: rgb(33, 221, 171);
}


main {
    background-color: rgb(204, 180, 75);
}

section {
    padding: 45px;
}

#gallery {
    background-color: rgb(204, 180, 75);
}

#gallery img {
width: 30%;
}

#merch {
    background-color: rgb(207, 190, 168);
}

#merch img {
    width: 32%;
}

#tour {
    background-color: rgb(207, 190, 168);
}
 